<div class="container-fluid">
    <div class="filter-container row">
        <div class="filter-type filter-divider col-xs-6">
            <h1>Location</h1>
            <ul>
                <li><a>Oakland</a></li>
                <li><a>Oakland</a></li>
                <li><a>Oakland</a></li>
                <li><a>Oakland</a></li>
                <li><a>Oakland</a></li>
                <li><a>Oakland</a></li>
                <li><a>Oakland</a></li>
                <li><a style="clear: left;">Oakland</a></li>
            </ul>
        </div>
        <div class="filter-type col-xs-6">
            <h1>Category</h1>
            <ul>
                <li><a href="">Category</a></li>
                <li><a href="">Category</a></li>
                <li><a href="">Category</a></li>
                <li><a href="">Category</a></li>
                <li><a href="">Category</a></li>
                <li><a href="">Category</a></li>
                <li><a href="">Category</a></li>
                <li><a href="">Category</a></li>
            </ul>
        </div>
    </div>
</div>