<div class="container-fluid">
    <div class="filter-container row">
        <div class="filter-type filter-divider col-xs-6">
            <h1>Location</h1>
            <ul>
                <li><a>Atlanta</a></li>
                <li><a>Boulder</a></li>
                <li><a>Chicago</a></li>
                <li><a>Dallas</a></li>
                <li><a>Detroit</a></li>
                <li><a>Melbourne</a></li>
                <li><a>New York</a></li>
                <li><a>Oakland</a></li>
                <li><a>Santa Monica</a></li>
                <li><a>Sydney</a></li>
                <li><a style="clear: left;">Washington</a></li>
            </ul>
        </div>
        <div class="filter-type col-xs-6">
            <h1>Category</h1>
            <ul>
                <li><a href="">Music</a></li>
                <li><a href="">Games</a></li>
                <li><a href="">Fitness</a></li>
                <li><a href="">Technology</a></li>
                <li><a href="">Food</a></li>
                <li><a href="">Art</a></li>
                <li><a href="">Animals</a></li>
                <li><a href="">Professional Development</a></li>
                <li><a href="">Sports</a></li>
                <li><a href="">Etc</a></li>
            </ul>
        </div>
    </div>
</div>
