<section class='create-perg'>
  <h3>Congrats on wanting to start a PERG!</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non urna
    elit. Quisque congue, metus et sodales dictum, sem dui interdum turpis, ac
    viverra erat neque id lorem. Praesent luctus dui imperdiet porttitor
    sodales. Vivamus et massa lobortis, egestas leo non, vulputate metus.
  </p>

  <form id="create-perg-form" class="form-horizontal">

    <div class="col-lg-8">
      <div class="form-group" v-bind:class="pergNameClasses">
        <input type="text"
               class="form-control"
               placeholder="NAME OF PERG"
               aria-describedby="inputPergNameSuccess"
               v-model="perg.name"/>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <span id="inputPergNameSuccess" class="sr-only"></span>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="input-group">
        <select type="text"
                class="selectpicker form-control"
                placeholder="CITY"
                aria-describedby="basic-addon"
                v-model="perg.city"
                data-live-search="true"
                title="CITY">
          <option v-for="location in locations">{{ location.name }}</option>
        </select>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="IMAGE DIRECT LINK"
               aria-describedby="inputImageURLSuccess"
               v-model="perg.imageURL"/>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <span id="inputImageURLSuccess" class="sr-only"></span>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="FIRST NAME"
               aria-describedby="inputFirstNameSuccess"
               v-model="user.firstName"/>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <span id="inputFirstNameSuccess" class="sr-only"></span>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="LAST NAME"
               aria-describedby="inputLastNameSuccess"
               v-model="user.lastName"/>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <span id="inputLastNameSuccess" class="sr-only"></span>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="EMAIL"
               aria-describedby="inputEmailSuccess"
               v-model="user.email"/>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <span id="inputEmailSuccess" class="sr-only"></span>
      </div>
    </div>

    <input class="btn btn-block btn-primary" type="submit" value="SUBMIT"/>

  </form>
</section>
