<section class='create-perg'>
  <h3>Congrats on wanting to start a PERG!</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non urna
    elit. Quisque congue, metus et sodales dictum, sem dui interdum turpis, ac
    viverra erat neque id lorem. Praesent luctus dui imperdiet porttitor
    sodales. Vivamus et massa lobortis, egestas leo non, vulputate metus.
  </p>

  <form id="create-perg-form" class="form-horizontal">

    <!-- <div class="col-lg-5">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon">
          <span class="glyphicon glyphicon-unchecked"></span>
        </span>
        <input type="text"
               class="form-control"
               placeholder="NAME OF PERG"
               aria-describedby="basic-addon"
               v-model="perg.name"/>
      </div>
    </div> -->

    <div class="row">
      <div class="col-lg-4">
        <div class="form-group" v-bind:class="pergNameClasses">
          <input type="text"
                 class="form-control"
                 placeholder="NAME OF PERG"
                 aria-describedby="inputSuccess4Status"
                 v-model="perg.state"/>
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <span id="inputSuccess4Status" class="sr-only"></span>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="form-group" v-bind:class="pergNameClasses">
          <input type="text"
                 class="form-control"
                 placeholder="NAME OF PERG"
                 aria-describedby="inputSuccess4Status"
                 v-model="perg.state"/>
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <span id="inputSuccess4Status" class="sr-only"></span>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="input-group">
          <select type="text"
                  class="selectpicker form-control"
                  placeholder="CITY"
                  aria-describedby="basic-addon"
                  v-model="perg.city"
                  data-live-search="true"
                  title="CITY">
            <option>Oakland</option>
            <option>B</option>
            <option>C</option>
          </select>
        </div>
      </div>
    </div>

    <input class="btn btn-block" type="submit" value="send"/>

  </form>
</section>
