$accent-color: #00B4F7;
@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}
h1, h2, h3 {
  color: #00B0F3;
}
h1 {
  font-weight: 900;
}
#back {
  position: absolute;
  top: 20px;
  left: 20px;
}
a.btn.btn-primary {
  padding: 0.8em;
  font-size: 0.8em;
  color: $accent-color;
  text-transform: uppercase;
  background-color: transparent;
  border: 0.15em solid $accent-color;
  @include transition(.2s);
  &:hover {
    color: white;
    background-color: $accent-color;
  }
}
