<div class="row banner-image" style="width: 100%; height: 400px; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; background-image: url({{ perg.avatar_url }})">
  <a id="back" class="btn btn-primary" v-link="{ path: '/' }" role="button">Back</a>
</div>

<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
    <h1>{{ perg.name }}</h1>

    <h3>Email</h3>
    {{ perg.email_alias }}

    <h3>Purpose</h3>
    {{ perg.description }}
  </div>
  <div class="col-sm-4 text-right">
    <h3>Location</h3>
    {{ perg.location }}

    <h3>Exec Sponsor</h3>
    Chris Martin
  </div>
</div>
