<div class="discover-container container-fluid">
    <div class="discover row">
        <div class="search">
            <div id="custom-search-input" class="col-md-offset-1 col-md-4">
                <div class="input-group">
                    <input v-model="searchText" type="text" class="search-query form-control" placeholder="Discover your PERG" />
                <span class="input-group-btn">
                    <button class="btn" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
                </div>
            </div>
        </div>
        <div class="filters col-md-2">
            <div class="primary-button" :id="showFilters ? 'active-filter' : ''" @click="showFilters = !showFilters; activeCreate = !activeCreate;">Filters</div>
        </div>
        <div class="create-perg col-md-2">
            <div class="primary-button" data-toggle="modal" data-target="#createPergModal">NEW PERG</div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="createPergModal" tabindex="-1" role="dialog" aria-labelledby="createPergModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="createPergModalLabel">Congrats on wanting to start a PERG!</h3>
      </div>
      <div class="modal-body">
        <create-perg></create-perg>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<filters v-if="showFilters" transition="expand"></filters>
