<div class="discover row">
    <div class="search">
        <div id="custom-search-input" class="col-md-offset-1 col-md-4">
            <div class="input-group">
                <input type="text" class="  search-query form-control" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <span class=" glyphicon glyphicon-search"></span>
                        </button>
                    </span>
            </div>
        </div>
    </div>
    <div class="filters col-md-2">
        Filters Go Here
    </div>
    <div class="create-perg col-md-2">
        Create Perg Link Goes Here asdjnaskdnasldnaslkdnaslkdnasl;kdaskldnsdnsakldnaslknasdnkaslndalsknsaklasndklasndasnlk
    </div>
</div>