.discover {
  div {
	margin-bottom: 2%;
	position: relative;
	top: 48%;
	transform: translateY(22%)
  }
  .search {
	margin-bottom: 0;
   }
}
.search {
	input[type='text'] {
		font-size: 16pt;
		font-weight: 200;
		padding: 25px 13px 24px;
		border: 2px solid #66666A;
		border-right: none;
		letter-spacing: 1px;

		&::-webkit-input-placeholder {
			color: #C3C3C3;
		}
	}

	button {
		color: #fff;
		background-color: #7AD1F1;
		font-size: 26px;
		border: 2px solid #66666A;
		border-left: none;

		&:hover, &:focus {
			color: #fff;
			background-color: #00B4F7;
		}
	}
  	margin-bottom: 0;
}

/* always present */
.expand-transition {
  transition: all .3s ease;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  opacity: 0;
}
#active-filter, #active-create {
  background: #00ACF1;
  color: white;
}
