.discover {
	margin-top: 15px;

	.search > div {
		margin-top: 9px;
	}

	& > div {
		margin-bottom: 10px;
	}
}
.search {
	input[type='text'] {
		font-size: 16pt;
		font-weight: 200;
		padding: 24px 15px 24px 15px;
		border: 0.2rem solid #9d9d9d;
		border-right: none;
		letter-spacing: 1px;

		&::-webkit-input-placeholder {
			color: #C3C3C3;
		}
	}

	button {
		color: #fff;
    background-color: #7AD1F1;
    font-size: 17px;
    border: 0.2rem solid #9d9d9d;
    border-left: none;
    width: 100px;
    padding: 12px;

		&:hover, &:focus {
			color: #fff;
			outline: 0;
		}
		&:focus {
			background-color: #7AD1F1;
		}
		&:hover {
			background-color: #00B4F7;
		}
	}
  	margin-bottom: 0;
}

/* always present */
.expand-transition {
  transition: all .3s ease;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  opacity: 0;
}
#active-filter {
  background: #00ACF1;
  color: white;
}

#createPergModal {
	$background-color: #eeeeee;
	$accent-color: #00B4F7;
	.modal-content {
		background-color: $background-color;
		padding: 40px;
	}
	.modal-header {
		border: none;
	}
	.modal-footer {
		border: none;
	}
	.modal-title {
		color: $accent-color;
		font-size: 1.5em;
    font-weight: 300;
	}
	@media (min-width: 768px) {
		.modal-dialog {
			width: 700px;
		}
	}
}
