<div class="container-fluid welcome banner-image">
    <div class="welcome-text">
        <h1>What's a PERG?</h1>
        <p>Pandora encourages all employees to collaborate and socialize with Pandora Employee Resource Groups (PERGs).  Employee Groups are voluntary, employee driven groups that are organized around a particular shared interest. We encourage motivated employees to initiate their own PERG. Each one should reflect our culture and preserve the spirit of Pandora’s Principles. PERGs should be inclusive to all staff participation and promote socialization through a shared interest or hobby. Pandora will provide each group with 5 people or more a $1000 allowance to use toward expenses to help support their efforts. Get involved!
        </p>
        <p><a class="btn btn-primary" href="#" role="button">Learn more</a></p>
    </div>
</div>

<discover :search-text.sync="searchText"></discover>
<hr />
<perg-collection :pergs="pergs" :search-text="searchText"></perg-collection>
