$accent-color: #00B4F7;
@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}

@mixin blur($blur) {
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: blur($blur);
}

.welcome {
  background: #C2C2C2;
  width: 100%;
  margin-bottom: 1%;
  position: relative;
}
.welcome-banner-image {
  background: url('http://www.pandora.com/static/careers/_photos/music_spread.jpg');
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include blur(10px);
}
.welcome-banner-overlay {
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}
.welcome-text {
  color: white;
  h1 {
    font-weight: bolder;
    font-size: 2em;
    letter-spacing: 0.1rem;
  }
  p {
    padding: 0 10px 12px 0px;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 0.1rem;
  }
  a {
    text-decoration: none;
  }
  a.btn.btn-primary {
    padding: 0.8em;
    font-size: 0.8em;
    color: $accent-color;
    text-transform: uppercase;
    background-color: transparent;
    border: 0.15em solid $accent-color;
    @include transition(.2s);
    &:hover {
      color: white;
      background-color: $accent-color;
    }
  }

  &.real {
    position: absolute;
    top: 0;
  }
}

@media (max-width: 767px) {
  .welcome-text {
    padding: 2.5% 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .welcome-text {
    padding: 2.5% 15%;
  }
}

@media (min-width: 992px) {
  .welcome-text {
    padding: 2.5% 25%;
  }
}
