<div class="container-fluid welcome banner-image">
	<div class="welcome-banner-image"></div>
    <div class="welcome-text">
        <h1>{{ welcomeTitle }}</h1>
        <p>{{ welcomeText }}</p>
        <p>
            <a class="btn btn-primary" role="button">Login</a>  
            <a class="btn btn-primary" role="button">Learn more</a>
        </p>
    </div>
    <div class="welcome-text real">
        <h1>{{ welcomeTitle }}</h1>
        <p>{{ welcomeText }}</p>
        <p>
            <a class="btn btn-primary" v-link="{ path: '/login' }" role="button">Login</a>  
            <a class="btn btn-primary" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>

<discover :search-text.sync="searchText"></discover>
<hr />
<perg-collection :pergs="pergs" :search-text="searchText"></perg-collection>
