<div class="row perg-collection">
    <div class="col-sm-6 col-md-4" v-for="p in pergs | filterBy searchText in 'name' 'description'">
        <div class="thumbnail">
            <a href="#/perg/{{p.id}}">
                <div class="photo" style="background-image: url('{{p.avatar_url}}')"></div>
                <div class="caption">
                    <h3>{{p.name}}</h3>
                    <div class="float-left">
                        <p>{{p.location}}</p>
                    </div>
                    <div class="float-right">
                        <span>{{ getStatusName(p.status) }}<span>
                    </div>
                    <div class="clear-both"></div>
                </div>
            </a>
        </div>
    </div>
</div>