$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
	margin: 0 auto;
  	width: 100%;
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 20px;
}
.starter-template {
  // padding: 40px 15px;
}

.primary-button {
	padding: 10px 5px;
	color: #00B4F7;
 	text-transform: uppercase;
	text-align: center;
	font-size: 16pt;
	border: 1px solid #2A9FD8;
	border-radius: 5px;
	cursor: pointer;
  	background-color: transparent;

	&:hover {
		color: #7AD1F1;
	}
	&:active {
		color: #fff;
		background-color: #7AD1F1;
		border-color: #00B4F7;
	}
}
.container-fluid, .row{
	margin: 0;
  	padding: 0;
}

//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
