$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}

.primary-button {
	padding: 10px 5px;
	color: #00B4F7;
 	text-transform: uppercase;
	text-align: center;
	font-size: 16pt;
	border: 1px solid #2A9FD8;
	border-radius: 5px;
	cursor: pointer;

	&:hover {
		color: #337AB7;
		border-color: #337AB7;
	}
	&:active {
		color: #fff;
		background-color: #76D1F3;
	}
}

//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";